<nav class="blue darken-3" >
    <div class="nav-wrapper container">
        <a href="/templates/index.html" class="brand-logo">ZOO</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">MENU</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/templates/index.html">MAIN MENU</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
</nav>

<!-- Menú hamborgor -->
<ul class="sidenav" id="mobile-nav">
    <li><a href="/templates/index.html">MENU</a></li>
    <li><a href="#">SERVICES</a></li>
    <li><a href="#">CONTACT</a></li>
</ul>